.ant-input {
  font-family: Geo, sans-serif;
}

.ant-radio-wrapper .ant-radio-checked::after {
  border: 1px solid var(--color-mainBlue) !important;
  background-color: var(--color-mainBlue);
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border: 1px solid var(--color-mainBlue) !important;
  background-color: var(--color-mainBlue);
}

.ant-btn:hover:enabled {
  background-color: var(--color-cardBg) !important;
  color: var(--color-buttonPrimary) !important;
  border: 1px solid var(--color-buttonPrimary) !important;
}

.ant-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  background-color: var(--color-cardBg);
  color: var(--color-buttonPrimary) !important;
  border-radius: 4px;
}

th.ant-table-cell {
  background: var(--color-tableBg) !important;
  padding: 16px !important;
  border-radius: 0 !important;
}

th.ant-table-cell::before {
  display: none;
}

.ant-col.ant-form-item-label.css-dev-only-do-not-override-qnu6hi {
  padding: 0 !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-input:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.ant-input:hover {
  border-color: transparent !important;
}
