@import "tailwindcss" important;
@import "https://cssicon.space/css/icons.css";

@font-face {
  font-family: "Mont";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Geo";
  src: url("../public/fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf")
    format("truetype");
}

@theme {
  --font-main: Mont, sans-serif;
  --font-geo: Geo, sans-serif;
  --font-serif: serif;
  --text-sm2: 12px;
  --text-sm: 14px;
  --text-lg: 22px;
  --text-md: 18px;
  --color-mainBlue: #00496e;
  --color-textBlack: #262323;
  --color-borderGray: #eae9e9;
  --color-background: #f3f4f6;
  --color-red: #ff0000;
  --color-gray: #9ca3af;
  --color-lightblue: #23a9ec;
  --color-gray2: #4b5563;
  --color-gray3: #929090;
}

/* get the styles for both icon*/

.icon,
.icon:before,
.icon:after,
.icon i,
.icon i:before,
.icon i:after {
  transition: all 0.4s ease;
}
